!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml')

  include ../includes/head

  body

    noscript
        #static-container
            block noscript

    block main
        #app-container

    include ../includes/foot
